<a href="https://colab.research.google.com/github/mindyng/Projects/blob/master/Short_Term_Household_Energy_Consumption_Using_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Goal: Predict Global_active_power at current time (t) given Household Energy Consumption using LSTM Network

In [0]:
# Let`s import all packages that we need:

import sys 
import numpy as np # linear algebra
from scipy.stats import randint
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv), data manipulation as in SQL
import matplotlib.pyplot as plt # this is used for the plot the graph 
import seaborn as sns # used for plot interactive graph. 
from sklearn.model_selection import train_test_split # to split the data into two parts
from sklearn.model_selection import KFold # use for cross validation
from sklearn.preprocessing import StandardScaler # for normalization
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline # pipeline making
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectFromModel
from sklearn import metrics # for the check the error and accuracy of the model
from sklearn.metrics import mean_squared_error,r2_score

## for Deep-learing:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
from keras.optimizers import SGD 
from keras.callbacks import EarlyStopping
from keras.utils import np_utils
import itertools
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers import Dropout

In [0]:
#Read in power data

df = pd.read_csv('/content/drive/My Drive/household_power_consumption.txt', sep=';', 
                 parse_dates={'dt' : ['Date', 'Time']}, infer_datetime_format=True, 
                 low_memory=False, na_values=['nan','?'], index_col='dt')

## EDA

In [10]:
df.head()

                     Global_active_power  ...  Sub_metering_3
dt                                        ...
2006-12-16 17:24:00                4.216  ...            17.0
2006-12-16 17:25:00                5.360  ...            16.0
2006-12-16 17:26:00                5.374  ...            17.0
2006-12-16 17:27:00                5.388  ...            17.0
2006-12-16 17:28:00                3.666  ...            17.0

[5 rows x 7 columns]

We can see here in the dt column that the household consumption data is in minute increments.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 126.7 MB

Pretty huge dataset: >2 million rows =) !

In [16]:
df.describe() #overall stat's

       Global_active_power  ...  Sub_metering_3
count         2.049280e+06  ...    2.049280e+06
mean          1.091615e+00  ...    6.458447e+00
std           1.057294e+00  ...    8.437154e+00
min           7.600000e-02  ...    0.000000e+00
25%           3.080000e-01  ...    0.000000e+00
50%           6.020000e-01  ...    1.000000e+00
75%           1.528000e+00  ...    1.700000e+01
max           1.112200e+01  ...    3.100000e+01

[8 rows x 7 columns]

## Imputing data